body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(200, 16, 83);
}
h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}
body input {
    padding: 10px;
    border-radius: 5px;
    border-color: aliceblue;
}
body label {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 5px;
}
body button {
    padding: 10px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(10, 15, 150);
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}